.content {
    min-height: 100vh;
    padding: 20px;
}

.container-header {
    /* Your existing styles for the header container */
}

.main-content {
    min-height: 100vh;
}

.footer {
    background-color: rgb(0, 0, 28);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}
